/* reset  */

/* base */

/* layout */

/* template */

/* state */

/*
* reset
*
* http://meyerweb.com/eric/tools/css/reset/
* v2.0 | 20110126
* License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #fff;
  font-family: "Nunito Sans", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* base */

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/* layout */

header {
  background-color: #454545;
  color: white;
  font-size: 17.6px;
}

nav {
  width: 95%;
  margin: 0 auto;
  padding: 16px 0;
  justify-content: space-between;
}

.nav-item {
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
  margin: 0 10px;
  width: 102px;
  height: 61px;
  background-color: rgb(169, 169, 169);
}

.nav-button {
  background-color: rgb(129, 128, 128);
  width: 120px;
}

.logo {
  margin-top: 15px;
}

.logo img {
  display: block;
  height: 72px;
  width: 197px;
}

.nav-search {
  width: 30%;
}

.nav-search input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
}

.dflex {
  display: flex;
  align-items: center;
}

.flex-top {
  align-items: flex-start;
}

.article-grid {
  position: relative;
}

.article-one {
  height: 94vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
}

.article-container {
  height: 70%;
  width: 100%;
  margin-top: 20%;
}

.article-writer {
  display: flex;
}

.article-writer h1 span {
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
}

.article-container p {
  width: 80%;
  margin: 20px auto;
  font-size: 40px;
}

.article-one img {
  width: 86px;
  height: 96px;
  margin-left: 10%;
  transform: rotate(-15deg);
  border-radius: 10px;
}

.one {
  background-color: rgb(169, 169, 169);
}

.two {
  background-color: rgb(129, 128, 128);
}

.position-div {
  position: absolute;
  top: 7%;
  left: 35%;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.position-div p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.position-div p span {
  background-color: #fff;
}

.contrast-logo {
  background-color: #fff;
  border-radius: 10px;
  transform: rotate(-15deg);
}

.position-div i {
  font-size: 40px;
  transform: scaleX(-1);
}

.contrast-button {
  width: 25%;
  display: flex;
  height: 40px;
}

.position-div button {
  margin-left: 10px;
  height: 100%;
  width: 75%;
  border: 4px solid #E6E6E6;
  border-radius: 7px;
  background-color: #fff;
}

.fa-long-arrow-right {
  margin-left: 10%;
  padding-top: 60px;
}

.second-article-container{
  width: 100%;
  padding-top: 30px;
  background-color: rgb(211, 208, 208)
}

.third-article-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 30px;
  background-color:  rgb(233, 231, 231);
  color: white;
}

.article-flex1 {
  flex: 1;
  height: 90vh;
}

.article-flex1-items{
  width: 90%;
  margin: 10px auto; 
}

.article-flex1 h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  margin-top: 20px;
}

.article-flex1 h2 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

.paragraph-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}

.span {
  font-size: 16px;
}
.article-flex2-item2 img {
  width: 250px;
  height: 290px;
  margin: 10px 0 40px 0;
}

.third-article-container article {
  width: 30%;
}

.article-flex2-item1 {
  margin-left: 2.5%;
  height: 50vh;
  border-radius: 10px;
  text-align: center;
  background-color:  rgb(173, 172, 172);
}

.article-flex2-item2 {
  margin-left: 2.5%;
  height: 90vh;
  border-radius: 10px;
  text-align: center;
  background-color:  rgb(83, 82, 82);
}

.article-flex2-item3 {
  margin-right: 2.5%;
  margin-left: 2.5%;
  height: 90vh;
  background-color:  rgb(189, 186, 186);
}

.article-flex2-item1 img {
  margin-top: 15px;
}

.third-container-div {
  width: 80%;
  margin: 0 auto;
}

.flex2-item1-paragraph {
  font-size: 19px;
  font-weight: bold;
  margin: 15px 0 15px 0;
}

.flex2-item1-paragraph2 {
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 15px 0;
}

.third-article-buttons {
  height: 40px;
  width: 130px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.flex2-item2-h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

.flex2-item2-paragraph {
  font-size: 18px;
  font-weight: 400;
  width: 50%;
  margin: 0 auto 12px auto;
}

.flex2-item3-span {
  display: block;
  font-size: 14px;
  margin: 30px 0 20px 0;
}

.flex2-item3-h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.flex2-item3-p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.fa-long-arrow-right {
  color: rgb(128, 125, 125)
  margin-top: 20px;
}